<div>
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <h1 id="about-title">About Cut N Edge</h1>
          <hr class="aligncenter">
        </div>
        </div>

        <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-6">
          <p>Nelson Mejia started out over 20 years ago with a passion for providing outstanding haircuts in Boston. Since then, Cut N Edge has grown into one of the friendliest, most efficient, and <em>fun</em> barbershops in the city. When you aren't receiving an expert cut from Nelson, Christmas, Sampe, or the like, you'll be laughing at the amiable banter, watching the fight on one of the TV screens, or enjoying the beats of a <em>cumbia</em>. We hope to see you soon. </p>
        </div>

        <div class="col-md-6">
          <%= image_tag("cutnedgechair1.jpg", :size=>'400x500') %>
        </div>

      </div>
    </div>
  </div>
      </div> <!-- end container -->
</div>