<div>
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <h1>About Cut N Edge</h1>
          <hr class="aligncenter">
        </div>
        </div>

        <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-6">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel eros enim. Morbi lacinia sit amet velit gravida bibendum. Maecenas a convallis turpis. Ut sem diam, auctor et eros sed, egestas vulputate nulla. Fusce mattis interdum metus, vitae eleifend ante consequat a. Etiam semper, quam eget laoreet eleifend, neque sem finibus lacus, at dapibus neque mauris nec orci. Aenean tincidunt, ante in iaculis vestibulum, justo ex gravida sem, sed hendrerit diam diam condimentum sem.

          Quisque at aliquet tellus. In aliquam ante eleifend ante pharetra fermentum. Aenean ac magna faucibus, malesuada enim nec, gravida nisi. Nullam quis vestibulum felis. </p>
        </div>

        <div class="col-md-6">
          <%= image_tag("cutnedgechair1.jpg", :size=>'400x500') %>
        </div>

      </div>
    </div>
  </div>
      </div> <!-- end container -->
</div>