<div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <h1 id="contact-title">Contact Us</h1>
          <hr class="aligncenter">
        </div>
        </div>

        <div class="row">

        <div class="col-md-6">
          <div class="map wow bounceInRight">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.053862055378!2d-71.0823851!3d42.341375000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a16d8b10bd9%3A0xc760cbce0163078!2s410+Massachusetts+Ave%2C+Boston%2C+MA+02118!5e0!3m2!1sen!2sus!4v1438189948325" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-md-6">
          <%= image_tag("cutnedgebarber.jpg", :size=>"300x300", :class => "wow bounceInLeft", :data => { :'wow-delay' => '0.8s' }) %>
        </div>

        </div>
</div>