<div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <h1 id="cuts-title">Choose Your Cuts</h1>
          <hr class="aligncenter">
        </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <%= image_tag("hairclippers.jpg", :size=>"300x300", :class => "wow bounceInDown", :data => { :'wow-delay' => '5s' }) %>
          </div>

          <div class="col-md-4">
            <section class="wow pulse" data-wow-delay="1s">
             <h3>Line Up</h3>
           </section>

           <section class="wow rubberBand" data-wow-delay="2s">
             <h3>Regular Cut</h3>
           </section>

           <section class="wow wobble" data-wow-delay="3s">
             <h3>Cut with Beard</h3>
           </section>

           <section class="wow flash" data-wow-delay="4s">
             <h3>Full Service with Hot Towels and Lather</h3>
           </section>
          </div>

          <div class="col-md-4">
            <section class="wow pulse" data-wow-delay="1s">
             <h3>$15</h3>
           </section>

           <section class="wow rubberBand" data-wow-delay="2s">
             <h3>$20</h3>
           </section>

           <section class="wow wobble" data-wow-delay="3s">
             <h3>$23</h3>
           </section>

           <section class="wow flash" data-wow-delay="4s">
             <h3>$26</h3>
           </section>

          </div>

        </div>


</div> <!-- container -->