<div class="container">

        <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <h1 id="gallery-title"></h1>
          <hr class="aligncenter">
        </div>
        </div>

        <!-- photos array found under gallery_helper.rb; -->

        <div class="row">
          <ul>
            <% photos.each_with_index do |x, i| %>

              <%= image_tag(x, :size => "300x300") %></span>

            <% end %>
          </ul>
        </div>
</div>




