  <div id="h">
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= image_tag('cutnedgebiglogo.png', :size=>'600x250') %>
        </div>
        </div>
    </div><!-- /.container -->
  </div><!--/H -->

  <div class="container">
    <div class="row mtb">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h2 class="theme mb">Where Looking Good Is Understood</h2>
        <p class="mt">For almost 20 years, Cut N Edge has been providing Boston with outstanding haircuts. Come for the atmosphere. Come for the music. Come get it cut -- and edged.</p>
      </div>
    </div><!--/row -->
    <hr>
  </div><!--/container -->

  <div class="container">
    <div class="row mtb centered">
      <h2 class="theme mb">Spotlight On Our Shop</h2>

      <div class="col-md-4">
        <%= image_tag('lamontcutnedge.jpg', :size=>'200x250') %>
        <h4>Everyone's Welcome</h4>
        <p class="ts">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div><!--/col-md-4 -->

      <div class="col-md-4">
        <p><i class="icon-beaker theme x2"></i></p>
        <h4>Superior Service</h4>
        <p class="ts">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div><!--/col-md-4 -->

      <div class="col-md-4">
        <%= image_tag('milqcutnedge.jpg', :size=>'200x250') %>
        <h4>Hablamos Español</h4>
        <p class="ts">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div><!--/col-md-4 -->
    </div><!--/row -->
  </div><!--/container -->

  <%= render partial: 'layouts/user_carousel' %>

<script>
  // Hair Clippers
$('#hairclipper').jrumble();
$('#hairclipper').hover(function(){
  $(this).trigger('startRumble');
}, function(){
  $(this).trigger('stopRumble');
});
</script>