<div id="info">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive aligncenter" src="assets/img/double.png" alt=""  width="350">
        </div><!--/col-md-6 -->

        <div class="col-md-6">
          <p><i class="ion-arrow-right-b"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p><i class="ion-arrow-right-b"></i>Printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p><i class="ion-arrow-right-b"></i>Hair clippers photo by Keerati from FreeDigitalPhotos.net</p>
        <p class="mt"><button class="btn btn-lg btn-white">Learn More</button></p>
        </div>

      </div><!--/row -->
    </div>
</div><!--/info -->