<div class="container">
<div class="row mtb">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="mtb centered"><h3><strong>Hours of Operation: | 410 Massachusetts Avenue, Boston, MA 02115 | (617) 867-9200 </strong></h3></p>
      </div>
    </div><!--/row -->
</div>

<div id="f">
    <div class="container">
      <div class="row mtb">
        <div class="col-md-6 col-md-offset-3">
        </div>
      </div><!--row -->
    </div><!--/container -->
</div><!--/F -->
