<div class="container">
<div class="row mtb">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="mtb centered"><h3><strong>Owner: Nelson Mejia | (617) 867-9200 | M 10-6, T-Sa 9-7 | Website: <%= link_to "Preston Copeland", "http://www.threemonthcoder.com", :target=>"_blank" %> </strong></h3></p>
      </div>
    </div><!--/row -->
 </div>

<div id="f">
     <div class="container">
      <div class="row mtb">
        <div class="col-md-6 col-md-offset-3">
        </div>
      </div><!--row -->
     </div> <!-- container -->
</div><!--/F -->
