<div class="container">
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2 testimonials">
        <h2 class="theme">What Our Customers Think About Us</h2>
          <!-- Carousel
          ================================================== -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="assets/img/ui-01.jpg" class="img-circle aligncenter" width="80" alt="First slide">
                <h3>Mark Turin</h3>
                <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              </div>
              <div class="item">
                <img src="assets/img/ui-02.jpg" class="img-circle aligncenter" width="80"  alt="Second slide">
                <h3>Sarah Schmidt</h3>
                <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              </div>
              <div class="item">
                <img src="assets/img/ui-03.jpg" width="80" class="img-circle aligncenter" alt="Third slide">
                <h3>Phil Carsons</h3>
                <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              </div>
            </div>
          </div><!-- /.carousel -->
      </div><!--/col-lg-8-->
    </div><!--/row -->
  </div><!--/container -->