<div class="container">
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2 testimonials">
        <h2 class="theme">What Our Customers Think About Us</h2>
          <!-- Carousel
          ================================================== -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag('kylemcutnedge.jpg', :class=>'img-circle aligncenter', :width=>'80') %>
                <h3>Kyle M.</h3>
                <p class="ts">" I have never been let down by Keith at this barbershop; they always are able to squeeze me in."</p>
              </div>
              <div class="item">
                <%= image_tag('dominiquewcutnedge.jpg', :class=>'img-circle aligncenter', :width=>'80') %>
                <h3>Dominique W.</h3>
                <p class="ts">"I'm a queer brown woman who needed a good haircut. They're super laid-back, friendly, and don't make you (as a woman) feel out of place in a barbershop. Reasonably priced too - bring a 20 and a few bills for a tip and you're all set."</p>
              </div>
              <div class="item">
                <%= image_tag('yvesecutnedge.jpg', :class=>'img-circle aligncenter', :width=>'80') %>
                <h3>Yves E.</h3>
                <p class="ts">"Been going to Nelson (the owner) for 18 years. Never left! Amazing barber."</p>
              </div>

            </div>
          </div><!-- /.carousel -->
      </div><!--/col-lg-8-->
    </div><!--/row -->
  </div><!--/container -->